#docs_dir_field {
  position: relative;
  border: 1px solid #E5E5E5;
  background: #FAFAFA;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.docs_file_icon {
  display: inline-block;
  width: 80px;
  height: 90px;
  margin: 0 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.docs_file_icon_pic {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.docs_file_icon_title {
  font-size: 13px;
  line-height: 13px;
  margin-top: 10px;
  margin-left: -10px;
  display: block;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

input.docs_file_select_checkbox {
  display: none;
}

.docs_file_icon_inner {
  padding: 10px 0 5px 0;
  border: 1px dashed rgba(0,0,0,0);
  border-radius: 5px;
  -webkit-transition: color .3s ease, background .3s ease, box-shadow .3s ease;
  -moz-transition: color .3s ease, background .3s ease, box-shadow .3s ease;
  -ms-transition: color .3s ease, background .3s ease, box-shadow .3s ease;
  -o-transition: color .3s ease, background .3s ease, box-shadow .3s ease;
  transition: color .3s ease, background .3s ease, box-shadow .3s ease;
}

.docs_file_select_checkbox:checked ~ .docs_file_icon_inner {
  background: #ECECEC;
  border-radius: 5px;
  color: #000;
  border: 1px solid #A8A8A8;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
}

.docs_file_select_label:active ~ .docs_file_icon_inner {
  color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 10px #999;
}

.docs_file_select_label {
  width: 80px;
  height: 92px;
  display: block;
  position: absolute;
  margin-top: -4px;
}

#docs_file_loading_gif {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(./../images/preloader.gif);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

#docs_new_folder_input {
  padding: 0;
  text-align: center;
  border: 0;
  height: 18px;
  box-shadow: 0 0 0 1px #DDD;
}

#right_menu {
  position: absolute;
  display: block;
  width: 150px;
  padding: 2px;
  background: #fff;
  box-shadow: 0 0 0 1px #999, 0 2px 8px rgba(0, 0, 0, 0.3);
}

#right_menu li {
  margin: 0;
  padding: 2px 1em;
}

#right_menu li:hover {
  cursor: default;
  background: #666;
  color: #fff;
}

#file_preview {
  display: block;
  height: 300px;
  margin-top: 10px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  position: relative;
}